@media screen and (max-width: 1080px){
	#wrapper{
		width : 72,22%;
		margin: 0 auto; 
	}

	#sidebar{
		width:auto;
		float:right;
	}
}

@media screen and (max-width: 480px){
	#wrapper{
		width : 162,50%;
		margin: 0 auto; 
	}

	#sidebar{
		width:auto;
		float:right;
	}
}

@media screen and (max-width: 2960px){
	#wrapper{
		width : 26,35%;
		margin: 0 auto; 
	}

	#sidebar{
		width:auto;
		float:right;
	}
}

@media screen and (max-width: 1024px){
	#wrapper{
		width : 76,17%;
		margin: 0 auto; 
	}

	#sidebar{
		width:auto;
		float:right;
	}
}

@media screen and (max-width: 720px){
	#wrapper{
		width : 108,33%;
		margin: 0 auto; 
	}

	#sidebar{
		width:auto;
		float:right;
	}
}

@media screen and (max-width: 3000px){
	#wrapper{
		width : 26,00%;
		margin: 0 auto; 
	}

	#sidebar{
		width:auto;
		float:right;
	}
}
