@media screen and (max-width: 960px){
	.header{
		position: inherit;
	}
	.wrapper{
		width : 93.75%;
		margin: 0 auto;
	}



}
===
#sidebar{
	width:270px;
	float:right;
}

#sidebar h2{
	font-size:18px;
	margin:10px 0;
}

#sidebar p{
	line-height:20px;
	color : #636363;
}

#sidebar ul li a{
	color:#636363;
	text-decoration:none;
}

#sidebar ul {
	margin-left : 25px;
}

#footer{
	clear:both;
	margin:20px 0;
	text-align:center;
	background-color: #f0f0f0;
	padding:5px;
	color:#555555;
}

.form_contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#myform {
	display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.full-width {
    grid-column: 1 / 2;   
}

#myform label {
  display: block;
}

.form_contact p {
  margin: 0;
}

#myform button,input, textarea {
  padding: 0.5em;
}

button {
  background: lightgrey;
  width: 100%;
  border: 0;
}

button:hover, button:focus {
  background: gold;
  outline: 0;
}

.form_contact input:focus,textarea:focus {
  outline: 3px solid gold;
}
